<h2 class="text-center">Manage Applications</h2>

<div class="well well-lg" ng-repeat="course in courses">
	<div class="row">
		<div class="col-lg-5">
		<h2>{{ course.name }}</h2>
		<h4>Course Number: {{ course.number }}</h4>
		</div>
	</div>

	<div>
		<h3 class="text-center">TA Applicants for {{course.name}}</h3>
	</div>

	<div class="panel panel-default" ng-show="course.applications.length > 0"
		ng-repeat="application in course.applications">
		<div class="panel-heading">
			<h3 class="text-center">{{ application.name }} {{ application.uid }}</h3>
		</div>
		<div class="row padding-top panel-body">
			<div class="col-lg-3 padding-left">
				<p>Email: {{application.email}}</p>
				<p>Semester: {{application.semester}}</p>
				<p>Year: {{application.year}}</p>
			</div>
			<div class="col-lg-6">
				<p>Additional Details:<br/>{{application.additional_details}}</p>
			</div>
			<div class="col-lg-3">
				<p>Recommendation: {{ recLevelText(application.recommendation_level) }} {{recText}} </p>
				<select name="level_select" id="level_select" ng-model="newObject['app' + application.id]"		
				ng-options="rec_level.value as rec_level.level for rec_level in rec_level_options"
					ng-change="optionSelected(application, newObject['app' + application.id])">
						<option value="">Change Recommendation Level</option>
				</select>
			</div>
		</div>
	</div>	
</div>			