<div class="row no-gutter">
	<div class="col-lg-2">
	</div>
	<div class="panel panel-default col-lg-8">
		<div class="panel-heading">
			<h2 class="text-center">Welcome to the TA Application</h2>
		</div>
		<div class="panel-body">			
			<div ng-show="!loggedIn" ng-cloak>
				<p class="text-center">
					To get started creating and maintaining your applications, please log in. <br />
					If you do not have an account, you can create one using the Regsiter link in the menu above.
					<br /><br />
				</p>
				<p>					
					<strong>Demo Information:</strong><br />
					<u>Admin Login</u>: Username: user1@users.com Password: pass
					As an admin, you can view the applications that currently exist for each class. Each application contains a recommendation level that updates as soon as a value is selected
					from the drop-down menu.<br />
					<u>Applicant Login</u>: Username: user3@users.com Password: pass
					To log in as an applicant, use the applicant login credentials above or register an account.
					As an applicant, you can fill out a TA Application and view, edit, or delete your existing
					TA applications. 
				</p>
			</div>
			<div ng-show="loggedIn && role=='applicant'">
				<p class="text-center">
					To get started with an application, click on the TA Application Form link in the menu above.<br />
					If you'd like to view or update your existing applications, click the Application Status link.
				</p>
			</div>
			<div ng-show="loggedIn && role=='admin'">
				<p class="text-center">
					To manage the status of existing TA applications, click on the Manage Applications link above.
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-2">
	</div>	
</div>